<div class="container">
    <div class="row">
            <div class="col-2"></div>
            <div class="col-8">
                <form>
                    <fieldset>
                      <legend>Nuevo empleado</legend>
                        <div class="form-group">
                        <label for="nombre" class="form-label mt-4">Nombre Emplaedo</label>
                        <input type="text" class="form-control" id="nombre" aria-describedby="emailHelp" placeholder="Nombre">
                       
                      </div>
                      <div class="form-group">
                         <label for="example-date-input" class="col-2 col-form-label">Fecha</label>
                        <div class="col-4">
                          <input class="form-control" type="date"  id="fecha">
                        </div>
                       </div>
                   
                 
                 
                      <button type="submit" class="btn btn-primary">Guardar</button>
                    </fieldset>
                  </form>
            </div>
            <div class="col-2"></div>
        
      </div>


    </div>
   